.aside-menu {
  width: 270px;
  background: linear-gradient(135deg, #f8f9fa 0%, #007bff 100%); /* Light gradient */
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 10px 0 0 10px;
  overflow-y: auto;
}

/* Panel Menu Header */
.p-panelmenu .p-panelmenu-header {
  background-color: #ffffff; /* Match header */
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  height: max-content;
}

.p-panelmenu .p-menuitem-link {
  color: #333;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

.p-panelmenu .p-menuitem-link:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Subtle hover effect */
}

.p-menuitem-icon {
  margin-right: 10px;
  color: #007bff;
}

/* Active state */
.p-panelmenu .p-menuitem-link.p-menuitem-link-active {
  background-color: #007bff;
  color: white;
}

.p-panelmenu .p-panelmenu-content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

