<p-card class="w-12 h-full">
  <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap align-items-center">
          <h3 class="ml-4 text-xl font-semibold text-gray-800">
              Registro de Usuarios
          </h3>
          <div class="mt-2 mr-2">
              <a 
                  pButton 
                  pRipple
                  label="Crear Usuario" 
                  icon="pi pi-user-plus"
                  class="p-button-raised p-button-rounded p-button-info"
                  [routerLink]="['/users/new']">
              </a>
          </div>
      </div>
  </ng-template>

  <div class="p-4">
      <p-table [value]="users" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-lg">Nombre</th>
                  <th class="text-lg">Apellido</th>
                  <th class="text-lg">Email</th>
                  <th class="text-lg">Programa</th>
                  <th class="text-lg">Tipos de Usuario</th>
                  <th class="text-lg text-center">Acciones</th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-user>
              <tr>
                  <td class="text-md text-gray-700 font-semibold">{{ user.name }}</td>
                  <td class="text-md text-gray-700 font-semibold">{{ user.lastName }}</td>
                  <td class="text-md text-gray-700 font-semibold">{{ user.email }}</td>
                  <td class="text-md text-gray-700 font-semibold">
                      <span *ngIf="user.name_program">
                          {{ user.name_program.program_name }}
                      </span>
                  </td>
                  <td>
                      <ng-container *ngFor="let type of user.tipos_usuario; let last = last">
                          <span class="p-tag p-tag-rounded p-tag-info">
                              {{ type.name }}
                          </span>
                          <span *ngIf="!last"></span>
                      </ng-container>
                  </td>

                  <td class="text-center">
                      <!-- Botón para imprimir -->
                      <button 
                          pButton 
                          pRipple
                          icon="pi pi-print"
                          class="p-button-rounded p-button-outlined p-button-success mr-2"
                          pTooltip="Imprimir"
                          tooltipPosition="top">
                      </button>

                      <!-- Botón para editar -->
                      <a 
                          pButton 
                          pRipple
                          icon="pi pi-sync"
                          class="p-button-rounded p-button-outlined p-button-warning mr-2"
                          pTooltip="Editar"
                          tooltipPosition="top"
                          [routerLink]="['/users/edit', user.id]">
                      </a>

                      <!-- Botón para eliminar -->
                      <button 
                          pButton 
                          pRipple
                          icon="pi pi-trash"
                          class="p-button-rounded p-button-outlined p-button-danger"
                          pTooltip="Eliminar"
                          tooltipPosition="top"
                          (click)="deleteUser(user.id)">
                      </button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</p-card>
