<p-card class="w-full shadow-lg border-none rounded-lg bg-white">
    <ng-template pTemplate="header">
      <h3 class="text-xl font-semibold text-gray-800 p-4">Crear Usuario</h3>
    </ng-template>
  
    <div class="p-4">
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-fluid">
        <!-- Nombre -->
        <div class="grid mb-4">
          <div class="col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                type="text"
                pInputText                         
                formControlName="name"
                placeholder="Nombre"
                title="Nombre del Usuario"
                class="w-full p-inputtext-lg border-2 rounded-md focus:border-blue-500 focus:ring-0 transition duration-200 ease-in-out p-2"
              />
            </div>
            <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
              <small class="p-error">El nombre es requerido.</small>
            </div>
          </div>
        </div>
  
        <!-- Apellido -->
        <div class="grid mb-4">
          <div class="col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-id-card"></i>
              </span>
              <input
                type="text"
                pInputText
                formControlName="lastName"
                placeholder="Apellido"
                title="Apellido del Usuario"
                class="w-full p-inputtext-lg border-2 rounded-md focus:border-blue-500 focus:ring-0 transition duration-200 ease-in-out p-2"
              />
            </div>
            <div *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)">
              <small class="p-error">El apellido es requerido.</small>
            </div>
          </div>
        </div>
  
        <div class="grid mb-4">
          <div class="col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-envelope"></i>
              </span>
              <input
                type="email"
                pInputText
                formControlName="email"
                placeholder="Correo Electrónico"
                title="Correo Electrónico"
                class="w-full p-inputtext-lg border-2 rounded-md focus:border-blue-500 focus:ring-0 transition duration-200 ease-in-out p-2"
              />
            </div>
            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
              <small class="p-error">Correo válido es requerido.</small>
            </div>
          </div>
        </div>
  
        <!-- Tipos de Usuario -->
        <div *ngFor="let control of tiposUsuario.controls; let i = index">
          <div class="field-checkbox">
            <p-checkbox 
              [formControl]="getFormControl(i)"
              binary="true"
              [label]="allUserTypes[i].name">
            </p-checkbox>
          </div>
        </div>
        <div class="grid mb-4">
          <div class="col-12">
            <div class="p-dropdown">
              <p-dropdown
                [options]="allPrograms"
                formControlName="program"
                placeholder="Seleccione una Facultad"
                [filter]="true"
                optionLabel="program_name" 
              ></p-dropdown>
              <div *ngIf="form.get('program')?.invalid && (form.get('program')?.dirty || form.get('program')?.touched)">
                <small class="p-error">La facultad es requerida.</small>
              </div>
            </div>
          </div>
        </div>
        
  
        <!-- Botones -->
        <div class="flex justify-content-center flex-wrap">
          <button 
            pButton 
            pRipple
            label="Guardar"
            icon="pi pi-save"
            severity="info"
            class="mr-2 p-button-raised transition-transform duration-200 ease-in-out hover:scale-105 w-full md:w-auto"
            type="submit"
          ></button>
  
          <button 
            pButton 
            pRipple
            label="Cancelar"
            icon="pi pi-times-circle"
            severity="warning"
            class="p-button-outlined transition-transform duration-200 ease-in-out hover:scale-105 w-full md:w-auto"
            type="button"
            (click)="cancel()"
          ></button>
        </div>
      </form>
    </div>
  
    <ng-template pTemplate="footer">
      <div class="p-4 text-center text-gray-500 text-sm">
        * Complete el formulario para actualizar los datos del usuario.
      </div>
    </ng-template>
  </p-card>
  
    