<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap align-items-center">
            <h3 class="ml-4 text-xl font-semibold text-gray-800">
                Registro de Programas
            </h3>
            <div class="mt-2 mr-2">
                <a 
                    pButton 
                    pRipple
                    label="Crear Programa" 
                    icon="pi pi-plus"
                    class="p-button-raised p-button-rounded p-button-info"
                    [routerLink]="['/program/new']">
                </a>
            </div>
        </div>
    </ng-template>
  
    <div class="p-4">
        <p-table [value]="programs" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-lg">Facultad</th>
                    <th class="text-lg">Nombre del Programa</th>
                    
                    <th class="text-lg text-center">Acciones</th>
                </tr>
            </ng-template>
  
            <ng-template pTemplate="body" let-program>
                <tr>
                    <td class="text-md text-gray-700 font-semibold">
                        <span *ngIf="program.facultad_nombre">
                            {{ program.facultad_nombre.nombre_facultad }} <!-- Asegúrate de que 'nombre' sea el campo correcto en el modelo de Facultad -->
                        </span>
                    </td>
                    <td class="text-md text-gray-700 font-semibold">{{ program.program_name }}</td>
                    
                    <td class="text-center">
                        <!-- Botón para imprimir -->
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="p-button-rounded p-button-outlined p-button-success mr-2"
                            pTooltip="Imprimir"
                            tooltipPosition="top">
                        </button>
  
                        <!-- Botón para editar -->
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            class="p-button-rounded p-button-outlined p-button-warning mr-2"
                            pTooltip="Editar"
                            tooltipPosition="top"
                            [routerLink]="['/program/edit', program.id]">
                        </a>
  
                        <!-- Botón para eliminar -->
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-outlined p-button-danger"
                            pTooltip="Eliminar"
                            tooltipPosition="top"
                            (click)="deleteProgram(program.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </p-card>
  